#cont-principal {
    border-radius: 20px;
    width: 95%;
    background-color: rgb(255, 255, 255) !important;
    padding: 50px;
    margin: 20px;
    box-shadow: 8px 5px 35px 15px rgba(0, 0, 0, 0.5);
}

.cont-uea-padre {
    box-shadow: 1px 1px 3px black;
    border: none;
}

.u {
    width: 220px;
    overflow: auto;
    height: 300px;
    box-sizing: border-box;
}

.u p:first-child {
    font-weight: bold;
}

#cont-ueas {
    display: none;
}

/* Estilos para informacion varia*/

#cont-informacion-varia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cont-principal-2 {
    border-radius: 20px;
    width: 365px;
    height: 200px;
    background-color: rgb(255, 255, 255) !important;
    padding: 5px;
    margin: 0px 20px 20px 20px;
    box-shadow: 8px 5px 15px 5px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
}

.cont-info-links{
    text-align: center;
}

.calendario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.calendat{
    width: 300px;
    height: 700px;
}

.link-calendario{
    text-decoration: none;
    color: white;
}


/* Estilos responsivos */
@media screen and (max-width: 767px) {
    .calendat {
        margin: 0;
    }
}

/* Para los botones */
.btn{
    background-color: #094293;
    color: white;
    transition: transform 0.2s;
}

.btn:hover{
    transform: scale(1.1);
    background-color: #094293;
    color: white;
}

.datos-tutor{
    font-size: 18px;
    font-weight: 600;
    font-style: oblique;
}

#pagina-cbi, #calendario{
    cursor: pointer;
    transition: transform 0.2s;
}

#pagina-cbi:hover, #calendario:hover{
    transform: scale(1.1);
}

#logo-cbi{
    width: 200px;
}

#logo-calendario{
    width: 80px;
}


