@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background: linear-gradient( #ffd9d9, #ffffff);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

#cont-btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

form {
    border-radius: 20px;
    width: 70%;
    background-color: rgb(255, 255, 255) !important;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 0;
    margin-top: 100px;
    box-shadow: 8px 5px 35px 15px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 767px) {
    form {
        width: 80% !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        min-height: 100vh;
    }

    #cont-btns button{
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 0;
        padding-right: 0px;
        margin-top: 20px;
        width: 90px;
    }
}

/* Para los botones */
.btn{
    background-color: #094293;
    color: white;
    transition: transform 0.2s;
}

.btn:hover{
    transform: scale(1.1);
    background-color: #094293;
    color: white;
}
